* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body main {
    background-color: rgb(80, 27, 130);
    color: white;
}
body footer {
    height: 10vh;
    background-color: black;
}
body {
    height: 100vh;
}
footer div a {
    color: white; text-decoration: none; list-style: none;
}
footer {
    text-align: center;
}