* {
    margin: 0;
    box-sizing: border-box;
}
 h1{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: grid;
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
}


body  main div {
    background-color: rgb(80, 27, 130);
    color: white;
    height: 125%;
    display: flex;
}


main div aside{
    background-color: rgb(72, 155, 209);
    text-align: center;
    font-size: 125%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 10px;
}

main div section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}




body footer {
    height: 10vh;
    background-color: black;
}
body {
    height: 100vh;
}
footer div a {
    color: white;
     text-decoration: none;
      list-style: none;

}
footer div {
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    align-items: center;

}
@media screen and (max-width: 800px){

    main div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    main div section {
        align-items: center;
    }
    footer {
        display: block;
        width: 100%;
    }

}
@media  screen and (max-width:480px) {
    main h1{
        font-size: 5vh;
    }
    main div section iframe {
        width: 75%
    }
}